body {
    margin:10px;
    width: auto;
    height: 0 auto;
    background-color: cadetblue;
   background-image:url("image/6.jpg");
   opacity:.9;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar{
    
    width:100%;
}
.txtGrid{
    width:50px;
}
#Register{
    width: 400px;
    height: 500px;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:50px;
    padding-left:50px;
    border-bottom: 6px double;
    border-top: 6px double;
    border-color:cadetblue;
  border-radius:10px;
  
   
}    

#img {
    background-image: url("image/1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width: 600px;
    height: 500px;
    
}
h1{
    margin-top:2px;
    padding:6px;
    font-family:'Times New Roman', Times, serif;
    font-size:80px;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: oblique;
}
 .heading{
     margin:20px;
     height:200px;
     padding:40px;
    border-top: ridge;
    border-bottom: ridge;
    border-bottom-color: azure;
    border-top-color: azure;
    
}
a{
    margin:0;
    margin-left:22px;
    margin-right:25px;
    padding: 60px;
    font-size:24px;

}
p{
    margin:30px;
    width:auto;
    height:auto;
    

}
.lbl {
   
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
}
 .col-sm-4{
     width:500px;
     height:500px;
     padding:20px;
 }
